# WMS Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Connection String (Will fallback automatically to MongoMemoryServer if local MongoDB daemon is not running)
MONGODB_URI=mongodb://127.0.0.1:27017/wms_db

# Security Secrets
JWT_SECRET=wms_super_secret_enterprise_key_2026_rfid
